- @title = "Grades"

- unless @grades.blank?
  .grade-wrapper
    - @grades.each do |g|
      .grade
        %span{class: g.colour.camelize(:lower)}= g.grade
        %p= formatted_date(g)
        %ul.options
          %li= link_to "Edit", edit_subject_grade_path(g.subject, g)
          %li= link_to "Delete", subject_grade_path(g.subject, g), method: :delete, data: { confirm: "Are you sure?" }
