- @title = "Session log"
- @page_wrapper = false

.timeline-wrapper
  - unless @sessions.blank?
    - @sessions.each do |session|
      .session
        .session-details
          %p= session_date(session)
          %h2= session_link(session)
