* { font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; }

.content-wrap,
.footer,
.content,
.btn-primary,
.body-wrap,
.container,
.main,
.content-block {
  font-size: 14px;
}

.content-wrap,
.footer,
.content,
.btn-primary,
.main,
.body-wrap,
.container,
.content-block {
  box-sizing: border-box;
}

.content-wrap,
.footer,
.main,
.content-block,
.btn-primary,
.body-wrap {
  margin: 0;
}

.btn-primary,
.aligncenter.content-block {
  text-align: center;
}

.container,
.content-wrap,
.content-block {
  vertical-align: top;
}

.footer,
.aligncenter.content-block,
a.twitter-link {
  color: #999;
}

.aligncenter.content-block > a {
  text-decoration: underline;
}

.body-wrap,
.footer {
  width: 100%;
}

.footer,
.content,
.content-wrap {
  padding: 20px;
}

.body-wrap {
  background-color: $background;
}

.container,
.footer {
  clear: both !important;
}

.content,
.container {
  margin: 0 auto;
  display: block !important;
  max-width: 600px !important;
}

.main {
  border-radius: 10px;
  background-color: #fff;
  color: $normal-colour;
  border: $border;
}

.content-block {
  padding: 0 0 20px;
}

.btn-primary {
  color: $button-text-colour;
  text-decoration: none;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: $button-background-colour;
  border-color: $button-background-colour;
  border-style: solid;
  border-width: 10px 20px;
}

.aligncenter.content-block {
  font-size: 12px;
}

.logo {
  height: 30px;
  padding-top: 20px;
}
