$page-width: 70%;
$page-max-width: 1200px;
$page-width-massive-viewport: 1700px;
$page-width-medium-viewport: 75%;
$page-width-small-viewport: 90%;
$devise-width: 450px;
$general-form-width: 770px;

$devise-width-resize-point: $devise-width / ($page-width-small-viewport / 100%);
$general-form-width-resize-point: $general-form-width / ($page-width-small-viewport / 100%);
$fixed-page-width-point: $page-width-massive-viewport / ($page-width / 100%);

$section-padding: 15px;
$devise-form-padding: 50px;
$general-form-padding: 25px;
$subject-section-wrapper-padding: 30px;

$section-bottom-padding: 50px;

$header-line-height: 35px;
$header-and-wrapper-top-padding: 30px;

$wrapper-padding-top: 50px;

$input-width: 100%;
$form-section-bottom-margin: 30px;
$string-padding: 10px;
$label-padding-bottom: 25px;
$boolean-right-margin: 5px;
$button-padding: 10px;

$textarea-height: 200px;

$timeline-width: 4px;
$session-bottom-margin: 50px;
$session-padding: 15px 0 15px 0;
$session-group-bottom-margin: 100px;

$hero-text-padding: 150px 0 200px 0;

$grade-width: 150px;
$grade-height: 300px;
$grade-padding: 20px;
$grade-margin-bottom: 50px;
$grade-margin-right: 20px;

$feature-illustration-height: 410px;
$feature-text-padding: 75px;
