.nav-bar {
  padding: $header-and-wrapper-top-padding 0;
  line-height: $header-line-height;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 10;

  .wrapper, .wrapper nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper {
    height: 70px;
  }

  .wrapper nav {
    width: 100%;

    ul { margin: 0; }
  }

  nav ul li a:hover {
    color: $nav-hover-colour;
  }

  &:not(.clone).home nav ul li,
  &:not(.clone).home nav ul li a:hover {
    color: #fff;
  }

  &:not(.clone).home .logo svg {
    fill: #fff;
  }

  &.clone {
    position: fixed;
    background: #fff;
    border-bottom: $border;
    transform: translateY(-100%);
    padding: 0;
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
    z-index: 1000;
    box-shadow: $nav-bar-clone-shadow;
  }
}

body.down .nav-bar.clone {
  transform: translateY(0);
}

.nav-bar.home .logo {
  margin-right: 70px;
}

.nav-bar:not(.home) nav {
  justify-content: flex-end;
}

.logo {

  svg {
    fill: $logo-default-colour;
    height: 35px;

    &, &:hover, { transition: all 0.3s; }
    &:hover { fill: $logo-hover-colour; }
  }

  &.center {
    width: 100%;
    text-align: center;
  }
}

nav ul li {
  color: $nav-colour;
  &:not(:first-of-type) {
    padding-left: 50px;
  }
  & a::after {
    content: '';
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 2px;
    opacity: 0;
    margin-top: 5px;
    border-radius: 2px;
    background-color: $nav-underline-colour;
  }
}

nav ul li.current-page {
  & a::after{
    background-color: $nav-underline-hover-colour;
  }

  &:hover a::after {
    background-color: $nav-underline-colour;
  }
}

nav li a:hover::after,
nav li.current-page a::after {
  margin-top: 0;
  opacity: 1;
}

nav li a, nav li a:hover,
nav li a::after, nav li a:hover::after {
  transition: all 0.2s;
}
