- @page = "home"

= render 'nav-bar', clone: true
= render 'nav-bar'
%header.hero
  .hero-wrapper
    .hero-text
      %h1 Revisionhub is a way to manage your revision
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a nulla vel arcu blandit porta sit amet vitae velit. Vivamus ultrices mi ac dui tincidunt, id sollicitudin nisi porta. Cras tempus tellus in facilisis molestie. Ut non ex velit. Nullam gravida massa quis nibh tincidunt, a iaculis arcu rhoncus.
.content
  .content-wrapper
    #overview
      #overview-illustration
        = inline_svg('illustration1')
      #overview-text
        %h1 Everything in one place
        %p With Revisionhub, everything is collected into one convenient place. This includes your notes, records of how many hours you have revised, grades and even a record of which past papers you have completed so that you don't do any twice and can motivate yourself to do more.
    #features
      .feature.first
        .feature-illustration
        .feature-text
          %h1 Revision log
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a nulla vel arcu blandit porta sit amet vitae
      .feature.second
        .feature-illustration
        .feature-text
          %h1 Grades
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a nulla vel arcu blandit porta sit amet vitae
      .feature.third
        .feature-illustration
        .feature-text
          %h1 Integrations
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a nulla vel arcu blandit porta sit amet vitae

