- @home = true

%header.hero
  .hero-wrapper
    = render 'nav-bar'
    .hero-text
      %h1 Revisionhub is a way to manage your revision
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a nulla vel arcu blandit porta sit amet vitae velit. Vivamus ultrices mi ac dui tincidunt, id sollicitudin nisi porta. Cras tempus tellus in facilisis molestie. Ut non ex velit. Nullam gravida massa quis nibh tincidunt, a iaculis arcu rhoncus.
.content
  .content-wrapper
    #overview
      #overview-illustration
      #overview-text
        %h1 Everything in one place
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a nulla vel arcu blandit porta sit amet vitae velit. Vivamus ultrices mi ac dui tincidunt, id sollicitudin nisi porta. Cras tempus tellus in facilisis molestie. Ut non ex velit. Nullam gravida massa quis nibh tincidunt, a iaculis arcu rhoncus.
    #features
      .feature.first
        .feature-illustration
        .feature-text
          %h1 Revision log
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a nulla vel arcu blandit porta sit amet vitae
      .feature.second
        .feature-illustration
        .feature-text
          %h1 Grades
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a nulla vel arcu blandit porta sit amet vitae
      .feature.third
        .feature-illustration
        .feature-text
          %h1 Integrations
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a nulla vel arcu blandit porta sit amet vitae

