- @home = true

%header.hero
  = render 'nav-bar'
  .hero-text
    %h1 Revisionhub is a way to manage your revision
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a nulla vel arcu blandit porta sit amet vitae velit. Vivamus ultrices mi ac dui tincidunt, id sollicitudin nisi porta. Cras tempus tellus in facilisis molestie. Ut non ex velit. Nullam gravida massa quis nibh tincidunt, a iaculis arcu rhoncus.
  .hero-divider
    %svg{:preserveaspectratio => "xMidYMid", :viewbox => "0 0 2559.81 314", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %path{:d => "M0.000,104.518 C0.000,104.518 1217.879#04 1279.000#04 C1330.373#04 2543.938,107.124 2559.813,104.548 L2559.813#14.000 L-0.187#14.000 L-0.187,-0.000 L0.000,-0.000 L0.000,104.518 Z"}
