$rh-blue: #3956E8;
$rh-purple: #5232B3;
$rh-dark-purple: #2B2A54;
$rh-pale-blue: lighten($rh-blue, 20%);
$pale-blue: #f5f8fa;

$grey: #DEE0E2;
$bold-colour: #585961;
$normal-colour: #66676F;

$red-element: #EA6E64;
$blue-element: #66B7EF;
$purple-element: #C68DDC;
$orange-element: #ECAA5D;
$green-element: #84CA64;
$yellow-element: #EED065;

$logo-default-colour: $rh-dark-purple;
$logo-hover-colour: $rh-blue;

@mixin background-colour($colour, $colour-element){
  a.#{$colour},
  span.#{$colour} {
    background-color: $colour-element;
    border: 1px solid $colour-element;

    &, &:hover {
      transition: all 0.2s;
    }

    &:hover {
      background-color: #fff;
      color: $colour-element;
    }
  }
}

$border-colour: $grey;

$background: $pale-blue;

$nav-colour: $bold-colour;
$section-background-colour: #fff;

$button-background-colour: $rh-blue;
$button-text-colour: #fff;

$notice-background-colour: #30B955;
$alert-background-colour: #dc4e4e;

$select-background-colour: $pale-blue;

$h1-colour: $rh-blue;

$timeline-h2-colour: $rh-purple;

$timeline-colour: $grey;
$session-colour: $rh-purple;
$session-background-colour: #fff;

$focus-colour: $rh-blue;

$nav-hover-colour: $rh-blue;
$nav-underline-colour: $rh-pale-blue;
$nav-underline-hover-colour: $grey;

$link-colour: $rh-blue;

$link-wrapper-hover-background: $rh-blue;

$filter-colour: $rh-blue;
$target-colour: $green-element;
