$pale-blue: #f5f8fa;
$red: #ff4747;
$grey: #DEE0E2;
$bold-colour: #585961;
$normal-colour: #66676F;

$outline-colour: $grey;

$logo-colour: $red;

$background: $pale-blue;

$nav-colour: $bold-colour;
$section-background-colour: #fff;

$section-wrapper-border-colour: $outline-colour;

$button-background-colour: $red;
$button-text-colour: #fff;

$notice-background-colour: #30B955;
$alert-background-colour: #dc4e4e;

$string-colour: $grey;

$select-background-colour: $pale-blue;

$h1-colour: $red;

$timeline-h2-colour: $red;
$timeline-colour: $grey;
$session-colour: $red;
$session-background-colour: #fff;
$session-border-colour: $outline-colour;

$focus-colour: #ffb4b4;

$nav-hover-colour: $red;
$nav-underline-colour: $grey;

$form-link-colour: $red;
$form-link-hover-colour: darken($form-link-colour, 5%);
