$pale-blue: #f5f8fa;
$red: #ff4747;
$grey: #DEE0E2;
$bold-colour: #585961;
$normal-colour: #66676F;

$red-tag: #EA6E64;
$blue-tag: #66B7EF;
$purple-tag: #C68DDC;
$orange-tag: #ECAA5D;
$green-tag: #84CA64;
$yellow-tag: #EED065;


@mixin tag-colour($colour, $colour-tag){
  .tag.#{$colour}{
    background-color: $colour-tag;
  }
}

$border-colour: $grey;

$logo-colour: $red;

$background: $pale-blue;

$nav-colour: $bold-colour;
$section-background-colour: #fff;

$button-background-colour: $red;
$button-text-colour: #fff;

$notice-background-colour: #30B955;
$alert-background-colour: #dc4e4e;

$select-background-colour: $pale-blue;

$h1-colour: $red;

$timeline-h2-colour: $red;
$timeline-colour: $grey;
$session-colour: $red;
$session-background-colour: #fff;

$focus-colour: $red;

$nav-hover-colour: $red;
$nav-underline-colour: $grey;

$link-colour: $red;

$link-wrapper-hover-background: $red;
