$pale-blue: #f5f8fa;
$bold-colour: #585961;
$normal-colour: #66676F;
$outline-colour: #DEE0E2;

$background: $pale-blue;

$nav-colour: $bold-colour;
$section-background-colour: #fff;

$section-wrapper-border-colour: $outline-colour;

$button-background-colour: #0D7ADA;
$button-text-colour: #fff;

$notice-background-colour: #30B955;
$alert-background-colour: #dc4e4e;

$string-colour: $outline-colour;

$select-background-colour: $pale-blue;
