$pale-blue: #f5f8fa;
$red: #ff4747;
$pale-red: lighten($red, 20%);
$grey: #DEE0E2;
$bold-colour: #585961;
$normal-colour: #66676F;

$red-element: #EA6E64;
$blue-element: #66B7EF;
$purple-element: #C68DDC;
$orange-element: #ECAA5D;
$green-element: #84CA64;
$yellow-element: #EED065;

$green-feature-gradient: linear-gradient(135deg, #95dc74 0%,#a6e686 100%);
$blue-feature-gradient: linear-gradient(135deg, #83ccff 0%,#abdcff 100%);
$purple-feature-gradient: linear-gradient(135deg, #dba8ef 0%,#edc1ff 100%);

$logo-default-colour: #353535;

@mixin background-colour($colour, $colour-element){
  a.#{$colour},
  span.#{$colour} {
    background-color: $colour-element;
    border: 1px solid $colour-element;

    &, &:hover {
      transition: all 0.2s;
    }

    &:hover {
      background-color: #fff;
      color: $colour-element;
    }
  }
}

$border-colour: $grey;

$logo-colour: $red;

$background: $pale-blue;

$nav-colour: $bold-colour;
$section-background-colour: #fff;

$button-background-colour: $red;
$button-text-colour: #fff;

$notice-background-colour: #30B955;
$alert-background-colour: #dc4e4e;

$select-background-colour: $pale-blue;

$h1-colour: $red;

$timeline-h2-colour: $red;
$timeline-colour: $grey;
$session-colour: $red;
$session-background-colour: #fff;

$focus-colour: $red;

$nav-hover-colour: $red;
$nav-underline-colour: $pale-red;
$nav-underline-hover-colour: $grey;

$link-colour: $red;

$link-wrapper-hover-background: $red;

$filter-colour: $red;
