$general-border-radius: 10px;
$section-border: 1px solid #DEE0E2;
$button-border-radius: 5px;
$string-border-radius: 5px;

$section-border-radius: $general-border-radius;
$session-border-radius: $general-border-radius;
