$page-width: 60%;
$section-padding: 10px;
$section-bottom-padding: 50px;

$header-line-height: 44px;
$header-and-wrapper-top-padding: 50px;

$input-width: 100%;
$input-wrapper-bottom-margin: 25px;
$string-padding: 10px;
$label-padding-bottom: 25px;
$boolean-right-margin: 5px;
$button-padding: 10px;
