$page-width: 60%;
$devise-width: 20%;
$general-form-width: 30%;

$section-padding: 15px;
$devise-section-padding: 50px;
$general-form-padding: 25px;

$section-bottom-padding: 50px;

$header-line-height: 44px;
$header-and-wrapper-top-padding: 50px;

$page-wrapper-padding-top: $header-and-wrapper-top-padding * 2;

$input-width: 100%;
$form-section-bottom-margin: 25px;
$string-padding: 10px;
$label-padding-bottom: 25px;
$boolean-right-margin: 5px;
$button-padding: 10px;

$textarea-height: 200px;

$timeline-width: 4px;
$session-bottom-padding: 50px;
$session-padding: 15px 0 15px 0;
