$box-shadow: 0px 10px 20px -1px rgba(50, 50, 50, 0.12);
$button-box-shadow: 0px 0px 30px -1px rgba(50, 50, 50, 0.78);
$notice-box-shadow: 0px -200px 100px 200px rgba(0,0,0,0.3);
$section-box-shadow: 0px 10px 20px -1px rgba(50, 50, 50, 0.04);
$feature-illustration-shadow-left: 10px 12px 20px -1px rgba(50, 50, 50, 0.12);
$feature-illustration-shadow-right: -10px 12px 20px -1px rgba(50, 50, 50, 0.12);
$nav-bar-clone-shadow: 0px 7px 20px -1px rgba(50, 50, 50, 0.07);
