$rh-blue: #3956E8;
$rh-purple: #5232B3;
$rh-dark-purple: #2B2A54;
$pale-blue: #f5f8fa;

$normal-colour: #66676F;
$logo-default-colour: $rh-dark-purple;

$grey: #DEE0E2;
$border-colour: $grey;
$background: $pale-blue;

$button-background-colour: $rh-blue;
$button-text-colour: #fff;
