- @title = "Dashboard"

.greeting
  %h1= greeting(@name)
  %p Here are your subjects

- unless @subjects.blank?
  - @subjects.each do |subject|
    %a.section-wrapper{ href: subject_path(subject) }
      .left
        %p.important.name= subject.name.capitalize
        = render "tags", tags: subject.subjectTags
      .right
        %p= no_sessions(subject)
