.btn, .button {
  padding: $button-padding;
  background-color: $button-background-colour;
  border: 0;
  border-radius: $button-border-radius;
  color: $button-text-colour;
}

input:not(.check_boxes):not(.boolean), textarea {
  width: $input-width;
  display: block;
}

.inline, .input.select {
  display: inline-block;
}

input.check_boxes{
  margin-right: 5px;
}

.input, .form-divider {
  margin-bottom: $form-section-bottom-margin;
}

.boolean {
  width: initial;
  display: inline-block;
  margin-right: $boolean-right-margin;
}

a.form {
  display: block;
  margin-bottom: 20px;
  width: 125px;
}

div.check_boxes {
  margin: 0;
}

label:not(.boolean):not(.inline) {
  display: block;
  padding-bottom: $label-padding-bottom;
}

.string:not(div):not(label), input.password, textarea, select {
  border-radius: $string-border-radius;
  border: $border;
  padding: $string-padding;
}

textarea {
  height: $textarea-height;
}

select {
  background-color: $select-background-colour;
}

abbr[title] {
  border-bottom: 0px;
}

.input.time {
  display: inline-block;
}

input.string:focus, input.password:focus, textarea:focus, select:focus {
  outline: none !important;
  border:1px solid $focus-colour;
}

input.button:focus, input.btn:focus {
  outline: none !important;
  border: 0;
}

.links {
  width: 100%;
}

.link-wrapper{
  display: block;
  height: 50px;
  border-top: $border;
  text-align: center;

  &.left, &.right {
    width: 50%;
  }

  &.left {
    width: 50%;
    border-right: $border;
    box-sizing: border-box;
  }
}

@media (max-width: 1055px) {
  .link-wrapper.left, .link-wrapper.right {
    width: 100%;
    float: none;
  }
}
