body, .content {
  background-color: $background;
}

.turbolinks-progress-bar {
  background: $red;
}

ul {
  padding: 0;
}

.section-wrapper:not(:last-of-type) {
  margin-bottom: $section-bottom-padding;
}

.subject-section-wrapper {
  padding: $subject-section-wrapper-padding;
}

.subject-wrapper, .section-wrapper {
  background-color: $section-background-colour;
  border-radius: $border-radius;
  border: $border;
}

.section-wrapper {
  padding: $section-padding;
}

.subject-section-wrapper:not(:last-of-type) {
  border-bottom: $border;
}

.dashboard-subject.section-wrapper {
  display: block;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow;
    transform: translateY(-5px);
  }
  &, &:hover{
    transition: 0.5s all;
  }
}

a:not(.section-wrapper) {
  &:hover {
    color: $link-colour;
  }
  &, &:hover {
    transition: color 0.2s;
  }
}

.notice-wrapper, .alert-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  color: #fff;
  text-align: center;
  box-shadow: $notice-box-shadow;
  p {
    margin: 0;
    padding: 15px 0;
  }
}

.alert-wrapper {
  background-color: $alert-background-colour;
}

.notice-wrapper {
  background-color: $notice-background-colour;
}

.pagination {
  z-index: 20;
  position: relative;
  width: max-content;
  background: #fff;
  padding: 20px;
  border-radius: $border-radius;
  border: $border;
  margin: 0 auto;
}
