body {
  background-color: $background;
}

ul {
  padding: 0;
}

.section-wrapper:not(:last-of-type) {
  margin-bottom: $section-bottom-padding;
}

.subject-section-wrapper {
  padding: $subject-section-wrapper-padding;
}

.subject-wrapper, .section-wrapper {
  background-color: $section-background-colour;
  border-radius: $border-radius;
  border: $border;
}

.section-wrapper {
  padding: $section-padding;
}

.subject-section-wrapper:not(:last-of-type) {
  border-bottom: $border;
}

a.section-wrapper {
  display: block;
  &:hover {
    box-shadow: $box-shadow;
    transform: translateY(-5px);
  }
  &, &:hover{
    transition: 0.5s all;
  }
}

a:not(.section-wrapper) {
  &:hover {
    color: $link-colour;
  }
  &, &:hover {
    transition: color 0.2s;
  }
}

.notice-wrapper, .alert-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  color: #fff;
  text-align: center;
  box-shadow: $notice-box-shadow;
  p {
    margin: 0;
    padding: 15px 0;
  }
}

.alert-wrapper {
  background-color: $alert-background-colour;
}

.notice-wrapper {
  background-color: $notice-background-colour;
}

.tags {
  margin-bottom: -20px;
}

.tag {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
}

.tag, .name {
  vertical-align: super;
}

.name {
  margin-right: 10px;
}

.name, .tags {
  display: inline-block;
}

// What I'd like to have: @include tag-colours(red, blue, purple, orange, green, yellow)

@include tag-colour(blue, $blue-tag);
@include tag-colour(red, $red-tag);
@include tag-colour(purple, $purple-tag);
@include tag-colour(green, $green-tag);
@include tag-colour(orange, $orange-tag);
@include tag-colour(yellow, $yellow-tag);
