body {
  background-color: $background;
}

.section-wrapper {
  background-color: $section-background-colour;
  border-radius: $section-border-radius;
  padding: $section-padding;
  margin-bottom: $section-bottom-padding;
  border: 1px solid #DEE0E2;
}

a.section-wrapper {
  display: block;
  &:hover {
    box-shadow: $box-shadow;
  }
}

.section-wrapper, a.section-wrapper {
  transition: 0.5s box-shadow;
}

.notice-wrapper, .alert-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  color: #fff;
  text-align: center;
  box-shadow: $notice-box-shadow;
  p {
    margin: 0;
    padding: 15px 0;
  }
}

.alert-wrapper {
  background-color: $alert-background-colour;
}

.notice-wrapper {
  background-color: $notice-background-colour;
}
