body {
  background-color: $background;
}

.section-wrapper {
  background-color: $section-background-color;
  border-radius: $section-border-radius;
  padding: $section-padding;
  margin-bottom: $section-bottom-padding;
  box-shadow: $section-box-shadow;
}

a.section-wrapper {
  display: block;
  &:hover {
    box-shadow: $section-box-shadow-hover;
  }
}

.section-wrapper, a.section-wrapper {
  transition: 0.5s box-shadow;
}
