.grade-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.grade {
  width: $grade-width;
  height: $grade-height;
  background: #fff;
  border-radius: $border-radius;
  border: $border;
  padding: $grade-padding;
  margin-bottom: $grade-margin-bottom;
  margin-right: $grade-margin-right;
  text-align: center;
}

.grade span {
  width: 30px;
  height: 30px;
  display: block;
  background-color: $green-tag;
  padding: 20px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  line-height: 30px;
}
