header {
  padding: $header-and-wrapper-top-padding 0;
  line-height: $header-line-height;
}

.logo {
  float: left;
  font-size: 25px; // only temp
  a { color: $logo-colour; } // only temp

  &.center {
    width: 100%;
    text-align: center;
  }
}

nav {
  float: right;
}

nav a {
  color: $nav-colour;
}
