header.hero {
  background-image: image-url(image_path("mountains.png"));
  background-position: top;
  background-size: cover;
  text-align: center;
  padding: 200px 0 100;
  margin-top: -200px;
}

header.hero, .content-wrapper {
  transform: skew(0deg, -10deg);
}

.hero-wrapper, .content {
  transform: skew(0deg, 10deg);
}

.content {
  width: 100%;
  height: 100%;
}

.hero-text {
  text-align: center;
  margin: 0 auto;
  line-height: $header-line-height;
  padding: $hero-text-padding;

  h1 {
    padding: 50px;
  }

  h1, p {
    color: #fff;
  }
}
