.content-wrapper {
  line-height: 44px;
}

#overview {
  padding-top: 100px;

  #overview-illustration {
    height: 700px;
    margin: 0 auto;
    border-radius: 10px;
  }

  #overview-text {
    text-align: center;
    margin-top: 50px;
  }
}

#features {
  margin-top: 200px;
}

.feature {
  background-color: #fff;
  height: 350px;
  margin-top: 150px;
  border-radius: $border-radius;
  border: $border;
  box-shadow: $box-shadow;

  .feature-text, .feature-illustration {
    width: 50%;
    display: inline-block;
    border-radius: $border-radius;
  }

  &:not(:first-of-type) {
    margin-top: 150px;
  }
}

.feature.first .feature-illustration,
.feature.second .feature-text,
.feature.third .feature-illustration {
  float: right;
}

.feature.first .feature-text,
.feature.second .feature-illustration
.feature.third .feature-text {
  float: left;
}

.feature.first .feature-illustration {
  background: $green-feature-gradient;
}

.feature.second .feature-illustration {
  background: $blue-feature-gradient;
  box-shadow: $feature-illustration-shadow-left;
}

.feature.third .feature-illustration {
  background: $purple-feature-gradient;
}

.feature-text {
  padding: 50px;
  box-sizing: border-box;
}

.feature.first .feature-illustration,
.feature.third .feature-illustration {
  box-shadow: $feature-illustration-shadow-right;
}

.feature-illustration {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: $feature-illustration-height;
}
