.content-wrapper {
  line-height: 44px;
}

#overview {
  padding-top: 100px;

  #overview-illustration {
    height: 700px;
    margin: 0 auto;
    border-radius: 10px;
  }

  #overview-text {
    text-align: center;
    margin-top: 50px;
  }
}

#features {
  margin-top: 150px;
}

.feature {
  background-color: #fff;
  height: 350px;
  margin-top: 100px;
  border-radius: $border-radius;
  border: $border;
  box-shadow: $box-shadow;

  .feature-text, .feature-illustration {
    height: 100%;
    width: 50%;
    display: inline-block;
  }

  &:not(:first-of-type) {
    margin-top: 100px;
  }
}

.feature.first .feature-illustration,
.feature.second .feature-text,
.feature.third .feature-illustration {
  float: right;
  border-radius: 0 10px 10px 0;
}

.feature.first .feature-text,
.feature.second .feature-illustration
.feature.third .feature-text {
  float: left;
  border-radius: 10px 0 0 10px;
}

.feature.first .feature-illustration {
  background-color: $green-element;
}

.feature.second .feature-illustration {
  background-color: $blue-element;
}

.feature.third .feature-illustration {
  background-color: $purple-element;
}

.feature-text {
  padding: 50px;
  box-sizing: border-box;
}

.target {
  position: relative;
  display: inline-block;

  svg {
    transform: rotate(135deg);
  }
  .target-content {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    .target-subject {
      color: $red;
    }
  }
}
