.center,
.wrapper,
.devise-wrapper,
.general-form-wrapper,
.page-wrapper,
.content-wrapper {
  margin: 0 auto;
  overflow-x: hidden;
  overflow: visible;
}

.page-wrapper, .wrapper, .content-wrapper, .hero-text {
  width: $page-width;
  transition: width 0.2s;
}

.page-wrapper, .general-form-wrapper {
  padding: $wrapper-padding-top 0 50px 0;
}

.top {
  overflow: auto;
}

.devise-wrapper {
  padding: $devise-padding-top 0 50px 0;
}

.page-wrapper, .devise-wrapper, .general-form-wrapper {
  position: relative;
}

.devise-wrapper {
  width: $devise-width;

  .section-wrapper {
    padding: 0;
    .form {
      padding: $devise-form-padding;
    }
  }
}

.general-form-wrapper {
  width: $general-form-width;

  .section-wrapper {
    padding: $general-form-padding;
  }
}

@each $class in ("left", "right") {
  .#{$class} {
    float: #{$class};
  }
}

.section-wrapper:after,
.subject-wrapper:after,
.subject-section-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  nav &, &.options  {
    list-style: none;
    li {
      display: inline-block;
    }
  }
  &.options {
    padding-left: 0;
  }
}

ul.options li {
  margin-right: 15px;
  &:last-of-type {
    margin-right: 0;
  }
}

.topic-data {
  padding: 10px;
  border: $border;
  border-radius: 10px;
}

.topic-data-wrapper p {
  margin-right: 10px;
}

.topic-data-wrapper p, .topic-data, .target {
  display: inline-block;
}

.top-section {
  &, .top {
    margin-bottom: 100px;
  }

  ul.options {
    text-align: right;
  }
}

.filter {
  text-align: right;
  color: $filter-colour;
}

.target {
  position: relative;

  svg {
    transform: rotate(135deg);
  }
  .target-content {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

   .target-subject {
      color: $red;
    }
  }
}

@media (max-width: 1440px) {
  .page-wrapper, .wrapper, {
    width: $page-width-medium-viewport;
  }
}

@media (max-width: 1360px) {
  .page-wrapper, .wrapper {
   width: $page-width-small-viewport;
  }
}

@media (max-width: 1050px) {
  .left, .right {
    float: none;
  }
  .link-wrapper.left {
    float: left;
  }
  .link-wrapper.right {
    float: right;
  }

  .filter {
    text-align: left;
    margin-top: 60px;
  }

  .top-section ul.options {
    text-align: center;
  }
}

@media (max-width: 1070px) {
  .greeting, .top-section .filter {
    text-align: center;
  }
}

@media (max-width: $devise-width-resize-point) {
  .devise-wrapper {
    width: $page-width-small-viewport;
  }
}

@media (max-width: $general-form-width-resize-point) {
  .general-form-wrapper {
    width: $page-width-small-viewport;
  }
}

@media (min-width: $fixed-page-width-point) {
  .page-wrapper, .wrapper {
    width: $page-width-massive-viewport;
  }
}

@media (max-width: 1420px) {
  .hero-text, .content-wrapper {
    width: $page-width-small-viewport;
  }
}
