.center {
  margin: 0 auto;
  overflow-x: hidden;
  overflow: visible;
}

.wrapper {
  @extend .center;
  width: $page-width;
}

.page-wrapper {
  @extend .wrapper;
  padding-top: $page-wrapper-padding-top;
  position: relative;
}

.devise-wrapper {
  @extend .page-wrapper;
  width: $devise-width;

  .section-wrapper {
    padding: $devise-section-padding;
  }
}

.general-form-wrapper {
  @extend .page-wrapper;
  width: $general-form-width;

  .section-wrapper {
    padding: $general-form-padding;
  }
}

@each $class in ("left", "right") {
  .#{$class} {
    float: #{$class};
  }
}

.section-wrapper:after,
.subject-wrapper:after,
.subject-section-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  nav &, &.options  {
    list-style: none;
    li {
      display: inline-block;
    }
  }
  &.options {
    padding-left: 0;
  }
}

ul.options li {
  margin-right: 15px; 
  &:last-of-type {
    margin-right: 0;
  }
}

.topic-data {
  padding: 10px;
  border: 1px solid $border-colour;
  border-radius: 10px;
}

.topic-data-wrapper p {
  margin-right: 10px;
}

.topic-data-wrapper p, .topic-data {
  display: inline-block;
}
