.center {
  margin: 0 auto;
  overflow-x: hidden;
  overflow: visible;
}

.wrapper {
  @extend .center;
  width: $page-width;
}

.page-wrapper {
  @extend .wrapper;
  padding-top: $page-wrapper-padding-top;
}

.devise-wrapper {
  @extend .page-wrapper;
  width: $devise-width;

  .section-wrapper {
    padding: $devise-section-padding;
  }
}

.general-form-wrapper {
  @extend .page-wrapper;
  width: $general-form-width;

  .section-wrapper {
    padding: $general-form-padding;
  }
}

@each $class in ("left", "right") {
  .#{$class} {
    float: #{$class};
  }
}

.section-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  nav &, &.options  {
    list-style: none;
    li {
      display: inline-block;
      padding-left: 50px;
    }
  }
  nav & li {
    padding-left: 50px;
  }
  &.subject-options li {
    padding-left: 20px;
  }
}
