.center,
.wrapper,
.devise-wrapper,
.general-form-wrapper,
.page-wrapper {
  margin: 0 auto;
  overflow-x: hidden;
  overflow: visible;
}

.page-wrapper, .wrapper {
  width: $page-width;
}

.page-wrapper, .devise-wrapper, .general-form-wrapper {
  padding-top: $wrapper-padding-top;
  position: relative;
}

.devise-wrapper {
  width: $devise-width;

  .section-wrapper {
    padding: $devise-section-padding;
  }
}

.general-form-wrapper {
  width: $general-form-width;

  .section-wrapper {
    padding: $general-form-padding;
  }
}

@each $class in ("left", "right") {
  .#{$class} {
    float: #{$class};
  }
}

.section-wrapper:after,
.subject-wrapper:after,
.subject-section-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  nav &, &.options  {
    list-style: none;
    li {
      display: inline-block;
    }
  }
  &.options {
    padding-left: 0;
  }
}

ul.options li {
  margin-right: 15px;
  &:last-of-type {
    margin-right: 0;
  }
}

.topic-data {
  padding: 10px;
  border: $border;
  border-radius: 10px;
}

.topic-data-wrapper p {
  margin-right: 10px;
}

.topic-data-wrapper p, .topic-data {
  display: inline-block;
}

.greeting {
  margin-bottom: 100px;
}

@media (max-width: 1560px) {
  .page-wrapper, .wrapper, .devise-wrapper, .general-form-wrapper {
    width: $page-width-small-viewport;
  }

  .devise-wrapper, .general-form-wrapper {
    width: $form-width-small-viewport;
  }
}

@media (max-width: 1050px) {
  .left, .right {
    float: none;
  }
}

@media (max-width: 1070px) {
  .greeting {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .devise-wrapper, .general-form-wrapper {
    width: $page-width-small-viewport;
  }
}
