.center,
.wrapper,
.devise-wrapper,
.general-form-wrapper,
.page-wrapper,
.feature {
  margin: 0 auto;
  overflow-x: hidden;
  overflow: visible;
}

.page-wrapper, .wrapper, .feature, .hero-text {
  width: $page-width;
  max-width: $page-max-width;
  transition: width 0.2s;
}

.page-wrapper, .general-form-wrapper {
  padding: $wrapper-padding-top 0;
}

.top {
  overflow: auto;
}

.page-wrapper, .devise-wrapper, .general-form-wrapper {
  position: relative;
}

.devise-wrapper {
  width: $devise-width;

  .section-wrapper {
    padding: 0;
    .form {
      padding: $devise-form-padding;
    }
  }
}

.general-form-wrapper {
  width: $general-form-width;

  .section-wrapper {
    padding: $general-form-padding;
  }
}

@each $class in ("left", "right") {
  .#{$class} {
    float: #{$class};
  }
}

.section-wrapper:after,
.subject-wrapper:after,
.subject-section-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  nav &, &.options  {
    list-style: none;
    li {
      display: inline-block;
    }
  }
  &.options {
    padding-left: 0;
  }
}

ul.options li {
  margin-right: 15px;
  &:last-of-type {
    margin-right: 0;
  }
}

.topic-data {
  padding: 10px;
  border: $border;
  border-radius: 10px;
}

.topic-data-wrapper p {
  margin-right: 10px;
}

.topic-data-wrapper p, .topic-data, .target {
  display: inline-block;
}

.top-section {
  &, .top {
    margin-bottom: 100px;
  }

  ul.options {
    text-align: right;
  }
}
