.content-wrapper {
  line-height: 44px;
}

.feature {
  display: block;
  height: 500px;
}

.feature-illustration, .feature-text {
  width: 50%;
}

.feature-illustration {
  width: 450px;
  height: 450px;
}

.feature:nth-of-type(odd) .feature-illustration,
.feature:nth-of-type(even) .feature-text {
  float: right;
}

.feature:nth-of-type(even) .feature-illustration,
.feature:nth-of-type(odd) .feature-text {
  float: left;
}
