.feature-illustration svg, .feature {
  height: 350px;
}

.feature, .feature-title, .feature-illustration, .feature-text {
  display: flex;
}

.feature-title, .feature-illustration, .feature-text {
  align-items: center;
}

.feature, .feature-title {
  flex-direction: row;
}

.feature {
  padding: 80px 0;
}

.row {
  background: #fff;
}

.feature-illustration, .feature-text {
  width: 50%;
  align-content: center;
  line-height: 30px;
}

.row:nth-of-type(odd) .feature .feature-illustration {
  justify-content: flex-start;
}

.row:nth-of-type(even) .feature .feature-illustration {
  justify-content: flex-end;
}

.row:first-child {
  border-bottom: 1px solid #e4e4e4;
  background-color: $pale-blue;
}

.row.steps {
  background: $rh-purple;
  background: linear-gradient(45deg, rgba(95,44,168,1) 0%, rgba(72,86,229,1) 100%);

  &, & h1 {
    color: #fff;
  }
}

.row.steps .feature {
  padding: 0;
  height: 600px;

  .feature-illustration {
    align-items: flex-end;

    svg {
      height: 500px;
    }
  }
}

.feature-title img {
  height: 45px;
  margin-right: 20px;
}
