.session {
  background-color: $session-background-colour;
  border: $border;
  border-radius: $border-radius;
  padding: $session-padding;
}

.session-group {
  margin-bottom: $session-group-bottom-margin;
}

.session-group-date {
  background-color: $background;
  z-index: 20;
  position: relative;
  padding: 15px 0 15px 0;
}

.session, .session-group-date {
  width: -webkit-fill-available;
  margin-bottom: $session-bottom-margin;
}

.session-group::before {
  content: '';
  position: absolute;
  left: 40px;
  height: 100%;
  width: $timeline-width;
  background: $timeline-colour;
  margin-top: 100px;
  border-radius: 2px;
  z-index: 1;
}

.session::before {
  content: '';
  width: 20px;
  height: 20px;
  left: 25px;
  background-color: $session-colour;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  border: 6px solid $session-background-colour;
}

.session::before, .session-details {
  display: inline-block;
  vertical-align: middle;
}

.session-details {
  margin-left: 50px;
}

.session {
  box-shadow: $section-box-shadow;
}

.timeline-wrapper h2 {
  color: $timeline-h2-colour;
}
