h1 {
  font-size: $heading-font-size;
}

h2 {
  font-size: $second-level-heading-font-size;
}

.bold, .important, h1, h2, h3, h4, h5, h6 {
  color: $bold-colour;
}

.bold {
  font-weight: 600;
}

body {
  color: $normal-colour;
  font-family: $body-font-family;
}

a {
  text-decoration: none;
  color: inherit;
}
