<% confirmation_url = confirmation_url(@resource, confirmation_token: @token) %>

<table class="body-wrap" id="table_c8c0_0"><tr id="tr_c8c0_0"><td id="td_c8c0_0" valign="top"></td>
    <td class="container" width="600" id="td_c8c0_1" valign="top">
      <div class="content" id="div_c8c0_0">
        <table width="100%" id="table_c8c0_3">
        <tr>
          <td align="center" class="aligncenter content-block" valign="top">
            <%= image_tag(attachments['mailer-logo.png'].url, class: 'logo') %>
          </td>
        </tr>
        </table>
        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction" id="table_c8c0_1" bgcolor="#fff"><tr id="tr_c8c0_1"><td class="content-wrap" id="td_c8c0_2" valign="top">
              <meta itemprop="name" content="Confirm Email" id="meta_c8c0_0" /><table width="100%" cellpadding="0" cellspacing="0" id="table_c8c0_2">
                <tr id="tr_c8c0_2"><td class="content-block" id="td_c8c0_3" valign="top">
                    Hi <%= @resource.first_name %>,
                  </td>
                </tr><tr id="tr_c8c0_3"><td class="content-block" id="td_c8c0_4" valign="top">
                    Please confirm your email address by clicking the link below.
                  </td>
                </tr><tr id="tr_c8c0_4"><td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler" id="td_c8c0_5" valign="top">
                    <a href="<%= confirmation_url %>" class="btn-primary" itemprop="url">Confirm email address</a>
                  </td>
                </tr></table></td>
          </tr></table><div class="footer" id="div_c8c0_1">
          <table width="100%" id="table_c8c0_3"><tr id="tr_c8c0_5"><td class="aligncenter content-block" id="td_c8c0_6" align="center" valign="top">Follow <a class="twitter-link" href="http://twitter.com/revisionhubuk" id="a_c8c0_1">@revisionhubuk</a> on Twitter.</td>
            </tr></table></div></div>
    </td>
    <td id="td_c8c0_7" valign="top"></td>
  </tr>
</table>
