%html
  %head
    = render 'head'
  %body
    = render 'notice_and_alert'

    %header
      = render 'nav-bar'
    .devise-wrapper
      %p hdkflfjfrtkgtjgdfsklwejregt
      .section-wrapper
        = yield
