%html
  %head
    %title RevisionHub
    %meta{name: "viewport", content: "width=device-width"}
    %meta{'http-equiv': "Content-Type", content: "text/html; charset=UTF-8"}
    = stylesheet_link_tag 'mailer'
  %body{itemscope: true, itemtype: "http://schema.org/EmailMessage"}
    = yield
